@import "variables.scss";
@import "mixins.scss";

@import "global/fonts.scss";

@import "blocks/btn.scss";
@import "blocks/copyright.scss";
@import "blocks/download.scss";
@import "blocks/features.scss";
@import "blocks/form.scss";
@import "blocks/form-field.scss";
@import "blocks/intro.scss";
@import "blocks/logo.scss";
@import "blocks/main-content.scss";
@import "blocks/main-footer.scss";
@import "blocks/main-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/map.scss";
@import "blocks/page.scss";
@import "blocks/photo-item.scss";
@import "blocks/photos.scss";
@import "blocks/prices.scss";
@import "blocks/range-slider.scss";
@import "blocks/reviews.scss";
@import "blocks/slider-controls.scss";
@import "blocks/social-btn.scss";
@import "blocks/socials.scss";
@import "blocks/upload.scss";
@import "blocks/visually-hidden.scss";
