$font-size-smaller: 12px;
$font-size-primary: 14px;
$font-size-bigger: 18px;
$font-size-biggest: 24px;

$font-reg: "Open Sans", "Arial", sans-serif;
$font-light: "Open Sans Light", "Arial", sans-serif;
$font-bold: "Open Sans Bold", "Arial", sans-serif;

$color-primary: #283645;
$color-secondary: #d22856;

$bg-primary: #ffffff;
$bg-secondary: #f2f2f2;
