.layout-positioner {
  padding: 0 6.25%;
  &--mobile-inactive {
    padding: 0;
  }
}

@media (min-width: $tablet-width) {
  .layout-positioner {
    padding: 0 3.0303%;
    &--mobile-only {
      padding: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .layout-positioner {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    &--mobile-only {
      padding: 0;
    }
  }
}
