.btn {
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: 300px;
  padding-top: 16px;
  padding-bottom: 15px;
  font-weight: normal;
  font-size: $font-size-bigger;
  line-height: 18px;
  font-family: $font-bold;
  text-align: center;
  text-decoration: none;
  color: $color-secondary;
  background-color: transparent;
  border: 3px solid $color-secondary;
  border-radius: 26px;
  cursor: pointer;
  &:hover {
    color: $bg-primary;
    background-color: $color-secondary;
  }
  &:active {
    color: rgba($color-primary, 0.3);
  }
  &--white {
    color: $bg-primary;
    border-color: $bg-primary;
    &:hover {
      color: $color-secondary;
      background-color: $bg-primary;
    }
    &:active {
      color: rgba($color-secondary, 0.3);
    }
  }
  &--gray {
    color: rgba($color-primary, 0.1);
    border-color: #dddfe0;
    &:hover {
      color: rgba($color-primary, 0.3);
      background-color: inherit;
      border-color: #b5b9be;
    }
    &:active {
      color: rgba($bg-primary, 0.3);
      background-color: #b5b9be;
    }
  }
  &--green {
    padding-top: 17px;
    padding-bottom: 16px;
    line-height: 30px;
    text-transform: uppercase;
    color: $bg-primary;
    background-color: #2aab6d;
    border: none;
    border-radius: 2px;
    &:hover {
      background-color: #1c9b5e;
    }
    &:active {
      color: rgba($bg-primary, 0.3);
    }
    &:disabled {
      background-color: #e5e5e5;
    }
  }
}

@media (min-width: $tablet-width) {
  .btn {
    &--compressible {
      width: 260px;
    }
  }
}

@media (min-width: $desktop-width) {
  .btn {
    &--white {
      font-size: 21px;
    }
    &--compressible {
      width: 183px;
    }
    &--wide {
      max-width: 460px;
    }
  }
}
