.contacts {
  box-sizing: border-box;
  min-height: 410px; /*!!!!!!!!!!!!*/
  padding-top: 40px;
  padding-bottom: 16px;
  text-align: center;
}

.contacts__desc {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: $font-size-biggest;
  line-height: 29px;
  font-family: $font-light;
}

.contacts__caption {
  font-weight: normal;
  font-size: $font-size-bigger;
  line-height: 22px;
  font-family: $font-bold;
}

.contacts__text {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: $font-size-biggest;
  line-height: 29px;
  font-family: $font-light;
  color: $color-secondary;
}

.contacts__link {
  color: inherit;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .contacts {
    min-height: 400px; /*!!!!!!!!!!*/
  }

  .contacts__desc {
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 48px;
  }

  .contacts__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .contacts__item {
    width: 48.3871%;
    &:first-child {
      margin-right: 3.2258%;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    min-height: 366px; /*!!!!!!!!!!!*/
  }

  .contacts__desc {
    margin-bottom: 50px;
    font-size: 50px;
  }

  .contacts__item {
    width: 33.3333%;
    &:first-child {
      margin-right: 0;
    }
    &--last-item {
      order: 10;
    }
  }
}
