.download {
  padding: 29px 0;
  text-align: center;
  color: $bg-primary;
  background-color: #1d2631;
}

.download__text {
  display: none;
}

.download__btn {
  margin: 0 auto;
}

.download__list {
  @include list-clean;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 205px;
  margin: 32px auto 20px auto;
}

.download__link {
  display: block;
  &--apple {
    width: 47px;
    height: 56px;
    background: url("../img/logo-apple.svg") no-repeat center;
    background-size: 47px 56px;
  }
  &--android {
    width: 43px;
    height: 47px;
    background: url("../img/logo-android.svg") no-repeat center;
    background-size: 43px 47px;
  }
  &--windows {
    width: 44px;
    height: 41px;
    background: url("../img/logo-microsoft.svg") no-repeat center;
    background-size: 44px 41px;
  }
}

.download__desc {
  margin-top: 0;
  margin-bottom: 2px;
  font-size: $font-size-primary;
  line-height: 24px;
  font-family: $font-light;
}

@media (min-width: $tablet-width) {
  .download {
    width: 300px;
    background-color: transparent;
  }

  .download__text {
    display: block;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 40px;
    line-height: 48px;
    font-family: $font-light;
  }

  .download__list {
    margin-top: 48px;
    margin-bottom: 36px;
  }

  .download__link {
    &--android {
      opacity: 0.4;
    }
  }

  .download__desc {
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .download__text {
    margin-bottom: 52px;
    font-size: 50px;
    line-height: 60px;
  }

  .download__list {
    margin-top: 68px;
    margin-bottom: 55px;
  }

  .download__link {
    &--android {
      opacity: initial;
    }
  }
}
