.features {
  text-align: center;
  background-color: $bg-secondary;
}

.features__header {
  padding-top: 40px;
  padding-bottom: 32px;
  background-color: $bg-primary;
}

.features__slogan {
  margin-top: 0;
  margin-bottom: 26px;
  font-size: $font-size-biggest;
  line-height: 30px;
  font-family: $font-light;
  &:last-child {
    margin-bottom: 0;
  }
}

.features__list {
  padding-top: 80px;
  padding-bottom: 287px;
  background:
    url("../img/iphone-screen-mobile@1x.png") no-repeat center 109%,
    url("../img/bg-triangle-white.svg") no-repeat center top/contain;
}

.features__title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: normal;
  font-size: $font-size-bigger;
  line-height: 24px;
  font-family: $font-bold;
  color: $color-caption;
}

.features__desc {
  margin-top: 0;
  margin-bottom: 31px;
  line-height: 24px;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .features__list {
    background:
      url("../img/iphone-screen-mobile@2x.png") no-repeat center 109%/157px auto,
      url("../img/bg-triangle-white.svg") no-repeat center top/contain;
  }
}

@media (min-width: $tablet-width) {
  .features__header {
    padding-top: 48px;
    padding-bottom: 47px;
  }

  .features__slogan {
    margin: 0;
    font-size: 40px;
    line-height: 48px;
  }

  .features__container {
    padding-left: 50%;
  }

  .features__list {
    min-height: 402px;
    padding-top: 74px;
    padding-bottom: 10px;
    text-align: left;
    background:
      url("../img/iphone-screen-3-tablet@1x.png") no-repeat 20px bottom,
      url("../img/bg-triangle-white.svg") no-repeat center top/contain;
  }

  .features__desc {
    margin-bottom: 34px;
  }
}

@media (min-width: $tablet-width) and (min-resolution: 144dpi), (min-width: $tablet-width) and (min-resolution: 1.5dppx) {
  .features__list {
    background:
      url("../img/iphone-screen-3-tablet@2x.png") no-repeat 20px bottom/268px auto,
      url("../img/bg-triangle-white.svg") no-repeat center top/contain;
  }
}

@media (min-width: $desktop-width) {
  .features__header {
    padding-top: 66px;
    padding-bottom: 76px;
  }

  .features__slogan {
    font-size: 50px;
    line-height: 60px;
  }

  .features__container {
    display: flex;
    justify-content: space-around;
    padding-left: 10px;
  }

  .features__list {
    padding-top: 0;
    padding-bottom: 32px;
    background: url("../img/bg-triangle-white.svg") no-repeat center top/contain;
  }

  .features__item {
    width: 240px;
    padding: 357px 30px 0 30px;
    text-align: center;
    &:first-child {
      background: url("../img/iphone-screen-1-desktop@1x.png") no-repeat center top;
    }
    &:nth-child(2) {
      margin: 0 20px;
      background: url("../img/iphone-screen-2-desktop@1x.png") no-repeat center top;
    }
    &:last-child {
      background: url("../img/iphone-screen-3-desktop@1x.png") no-repeat center top;
    }
  }

  .features__title {
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 30px;
  }

  .features__desc {
    font-size: 18px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) and (min-resolution: 144dpi), (min-width: $desktop-width) and (min-resolution: 1.5dppx) {
  .features__item {
    &:first-child {
      background: url("../img/iphone-screen-1-desktop@2x.png") no-repeat center top/292px auto;
    }
    &:nth-child(2) {
      background: url("../img/iphone-screen-2-desktop@2x.png") no-repeat center top/292px auto;
    }
    &:last-child {
      background: url("../img/iphone-screen-3-desktop@2x.png") no-repeat center top/292px auto;
    }
  }
}
