.form-field__text-field {
  box-sizing: border-box;
  width: 100%;
  padding: 15px 22px 14px 22px;
  font-size: $font-size-bigger;
  line-height: 30px;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
  &--high {
    height: 201px;
    margin-top: 16px;
  }
}

.form-field__label {
  font-size: $font-size-bigger;
  line-height: 30px;
  &--text {
    font-size: $font-size-primary;
    text-transform: uppercase;
    color: $color-secondary;
  }
  &--area {
    display: block;
    text-align: center;
  }
}
