.intro {
  box-sizing: border-box;
  min-height: 237px; /*!!!!!!!!!!!*/
  padding-top: 90px;
  text-align: center;
  color: $bg-primary;
  background: #1d2631 url("../img/bg-back-mobile@1x.jpg") no-repeat center top;
  &--index {
    position: relative;
    min-height: 733px; /*!!!!!!!!!!!*/
  }
}

.intro__img {
  margin-top: 86px;
}

.intro__img img {
  @include image;
}

.intro__title {
  font-weight: normal;
  font-size: $font-size-biggest;
  line-height: 29px;
  font-family: $font-light;
}

@media (min-width: $tablet-width) {
  .intro {
    min-height: 440px; /*!!!!!!!!!!*/
    padding-top: 180px;
    &--index {
      min-height: 729px; /*!!!!!!!!!!*/
    }
  }

  .intro__title {
    font-size: 50px;
    line-height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    padding-top: 170px;
    min-height: 394px; /*!!!!!!!!!!*/
    &--index {
      min-height: 853px; /*!!!!!!!!!!*/
    }
  }
}
