.main-nav__menu {
  &--closed {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
}

.main-nav__link {
  font-size: $font-size-bigger;
  line-height: 32px;
  font-family: $font-bold;
  color: $bg-primary;
}
