.main-footer {
  background-color: $bg-primary;
  &--index {
    display: none;
  }
}

.main-footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.main-footer__socials {
  margin-top: 40px;
  margin-bottom: 39px;
}

@media (min-width: $tablet-width) {
  .main-footer {
    &--index {
      display: block;
    }
  }

  .main-footer__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 36px;
    padding-bottom: 37px;
  }

  .main-footer__socials {
    margin-top: 3px;
    margin-right: 16px;
    margin-bottom: 0;
  }

  .main-footer__copyright {
    margin-top: 5px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__container {
    padding-top: 70px;
    padding-bottom: 72px;
  }

  .main-footer__socials {
    margin-top: 4px;
    margin-right: 0;
  }

  .main-footer__copyright {
    margin-top: 7px;
  }
}
