.main-nav__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 6.25%;
  background-color: $color-primary;
  border-bottom: 1px solid #000000;
}

.main-nav--closed .main-nav__menu {
  padding: 21px 6.25%;
  background-color: transparent;
  border: none;
}

.main-nav__toggle {
  position: relative;
  width: 31px;
  height: 31px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transform: rotate(45deg);
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 13px;
    width: 5px;
    height: 31px;
    background-color: $bg-primary;
  }
  &::after {
    content: "";
    position: absolute;
    top: 13px;
    right: 0;
    width: 31px;
    height: 5px;
    background-color: $bg-primary;
  }
  &:hover::before,
  &:hover::after {
    background-color: $color-secondary;
  }
  &:active::before,
  &:active::after {
    background-color: rgba($color-secondary, 0.3);
  }
}

.main-nav--closed .main-nav__toggle {
  width: 50px;
  height: 24px;
  transform: none;
  &::before {
    display: none;
  }
  &::after {
    top: 10px;
    right: 0;
    width: 50px;
    height: 4px;
    color: $bg-primary;
    box-shadow:
      0 10px 0 0,
      0 -10px 0 0;
  }
  &:hover::after {
    color: $color-secondary;
  }
  &:active::after {
    color: rgba($color-secondary, 0.3);
  }
}

.main-nav--closed .main-nav__list {
  display: none;
}

.main-nav__list {
  @include list-clean;
}

.main-nav__link {
  display: block;
  padding-top: 16px;
  padding-bottom: 15px;
  font-size: $font-size-bigger;
  line-height: 32px;
  font-family: $font-bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $bg-primary;
  background-color: $color-primary;
  border-bottom: 1px solid #000000;
  box-shadow: inset 0 1px 0 0 #485461;
  &:hover {
    color: $color-secondary;
  }
  &:not(&--current):active {
    color: rgba($color-secondary, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .main-nav__menu {
    padding: 39px 3.0303%;
  }

  .main-nav--closed .main-nav__menu {
    padding: 44px 3.0303% 42px 3.0303%;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 31px 0;
  }

  .main-nav__menu {
    padding: 0;
    background-color: transparent;
    border: none;
  }

  .main-nav--closed .main-nav__menu {
    padding: 0;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
  }

  .main-nav--closed .main-nav__list {
    display: flex;
  }

  .main-nav__item {
    &:not(:last-child) {
      margin-right: 82px;
    }
  }

  .main-nav__link {
    line-height: 18px;
    font-family: $font-reg;
    text-transform: none;
    background-color: transparent;
    border: none;
    box-shadow: none;
    &:not(&--current):active {
      color: rgba($bg-primary, 0.3);
    }
  }

  .main-nav__current-page {
    padding-bottom: 5px;
    border-bottom: 2px solid $bg-primary;
  }

  .main-nav__link:hover .main-nav__current-page {
    border-color: $color-secondary;
  }
}
