.photo-item {
  line-height: 24px;
  &:not(&--panoramic) {
    width: 100%;
    max-width: 300px;
  }
}

.photo-item__img {
  text-align: center;
  img {
    @include image;
  }
}

.photo-item__desc {
  box-sizing: border-box;
  padding: 22px 18px 23px 18px;
  background-color: $bg-secondary;
}

.photo-item__author {
  font-weight: normal;
  font-family: $font-bold;
}

.photo-item__time {
  font-size: $font-size-smaller;
  font-family: $font-light;
}

.photo-item__text {
  margin-top: 0;
  margin-bottom: 13px;
}

.photo-item__likes {
  display: flex;
  align-items: center;
}

.photo-item__heart {
  width: 13px;
  height: 12px;
  margin-right: 19px;
  background: url("../img/icon-heart.svg") no-repeat center;
}

.photo-item__likes-value {
  font-size: $font-size-smaller;
  text-transform: uppercase;
  color: $color-secondary;
}

@media (min-width: $tablet-width) {
  .photo-item__img {
    min-height: 300px; /*!!!!!!!!!!!!*/
    &--panoramic {
      min-height: 509px; /*!!!!!!!!!!!!!!!*/
    }
  }

  .photo-item__desc {
    display: flex;
    &--panoramic {
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &:not(&--panoramic) {
      flex-direction: column;
      min-height: 155px;
    }
  }

  .photo-item__text {
    &--pressed-down {
      order: 10;
    }
  }

  .photo-item__likes {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: auto;
  }

  .photo-item__heart {
    margin-left: 17px;
    margin-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .photo-item__img {
    min-height: 400px; /*!!!!!!!!!!!!!*/
    &--panoramic {
      min-height: 506px; /*!!!!!!!!!!!!!!!*/
    }
  }
}
