.photo-item {
  line-height: 24px;
  &:not(&--panoramic) {
    width: 280px;
  }
  &--panoramic {
    overflow: hidden;
  }
}

.photo-item__img {
  &--panoramic {
    position: relative;
    left: 50%;
    width: 320px;
    transform: translateX(-50%);
    &::after {
      content: "Панорама дня";
      position: absolute;
      top: 0;
      right: 6.25%;
      width: 140px;
      height: 36px;
      font-size: 12px;
      line-height: 36px;
      font-family: $font-bold;
      text-align: center;
      text-transform: uppercase;
      color: $bg-primary;
      background-color: $color-secondary;
    }
  }
}

.photo-item__img img {
  @include image;
}

.photo-item__img a {
  display: block;
}

.photo-item__desc {
  box-sizing: border-box;
  padding: 18px 18px 20px 18px;
  background-color: $bg-secondary;
}

.photo-item__author {
  font-weight: normal;
  font-family: $font-bold;
}

.photo-item__time {
  font-size: $font-size-smaller;
  font-family: $font-light;
  text-transform: uppercase;
}

.photo-item__text {
  margin-top: 0;
  margin-bottom: 10px;
}

.photo-item__likes {
  display: flex;
  align-items: center;
}

.photo-item__heart {
  width: 13px;
  height: 12px;
  margin-right: 19px;
  padding: 0;
  background: url("../img/icon-heart.svg") no-repeat center/13px 12px;
  border: none;
  cursor: pointer;
}

.photo-item__likes-value {
  font-size: $font-size-smaller;
  text-transform: uppercase;
  color: $color-secondary;
}

@media (min-width: $tablet-width) {
  .photo-item {
    &:not(&--panoramic) {
      width: 300px;
    }
  }
  .photo-item__img {
    &--panoramic {
      width: 700px;
      &::after {
        top: 57px;
        right: 5.7%;
      }
    }
  }

  .photo-item__desc {
    display: flex;
    padding: 24px 32px 22px 28px;
    &--panoramic {
      padding: 24px 28px 14px 28px;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &:not(&--panoramic) {
      flex-direction: column;
      min-height: 155px;
    }
  }

  .photo-item__text {
    &--pressed-down {
      order: 10;
    }
  }

  .photo-item__likes {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: auto;
  }

  .photo-item__heart {
    margin-left: 17px;
    margin-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .photo-item__img {
    &--panoramic {
      width: 1200px;
      &::after {
        top: 54px;
        right: 130px;
      }
    }
  }
}
