.prices {
  box-sizing: border-box;
  min-height: 471px; /*!!!!!!!!!!!!*/
  padding-top: 66px;
  padding-bottom: 47px;
  background-color: $bg-secondary;
  text-transform: uppercase;
}

.prices__slider {
  overflow: hidden;
}

.prices__table {
  position: relative;
  width: 262.5%;
  margin-bottom: 40px;
  border-collapse: collapse;
  &--first-slide {
    left: 6.25%;
  }
  &--second-slide {
    left: -81.25%;
  }
  &--third-slide {
    left: -168.75%;
  }
}

.prices__header {
  padding: 19px 0;
  font-weight: normal;
  line-height: 30px;
  color: $bg-primary;
  background-color: $color-primary;
  border-right: 2px solid #e5e5e5;
  border-left: 2px solid #e5e5e5;
  &--empty {
    display: none;
  }
  &--hit {
    padding: 0;
  }
  &:nth-child(2) {
    border-left: 2px solid $color-primary;
  }
  &:last-child {
    border-right: 2px solid $color-primary;
  }
}

.prices__hit {
  position: relative;
  padding: 19px 0;
  background: url("../img/bg-hit.svg") no-repeat 0 0;
  background-size: 74px 73px;
  &::after {
    content: "Хит";
    position: absolute;
    top: 13px;
    left: 9px;
    font-family: $font-bold;
    text-transform: uppercase;
    color: $bg-primary;
    transform: rotate(-45deg);
  }
}

.prices__title {
  font-size: $font-size-bigger;
  font-family: $font-bold;
}

.prices__price {
  font-size: $font-size-biggest;
  font-family: $font-light;
}

.prices__feature {
  padding: 15px 0 14px 22px;
  background: $bg-primary url("../img/icon-no.svg") no-repeat 82.7338% 15px;
  background-size: 27px 26px;
  border: 2px solid #e5e5e5;
  &--available {
    background: $bg-primary url("../img/icon-yes.svg") no-repeat 82.0143% 20px;
    background-size: 31px 21px;
  }
  &--mobile-hidden {
    display: none;
    background-image: none;
  }
}

@media (min-width: $tablet-width) {
  .prices {
    min-height: 378px; /*!!!!!!!!!!!!*/
  }

  .prices__table {
    position: static;
    width: 100%;
  }

  .prices__header {
    width: 25%;
    &--empty {
      display: table-cell;
      background-color: transparent;
      border: none;
    }
  }

  .prices__hit {
    background: url("../img/bg-hit-tablet.svg") no-repeat 0 0;
    background-size: 61px 61px;
    &::after {
      top: 5px;
      left: 7px;
    }
  }

  .prices__title {
    font-size: 16px;
  }

  .prices__price {
    font-size: 18px;
  }

  .prices__feature {
    text-transform: none;
    background-position: center;
    &--mobile-hidden {
      display: table-cell;
    }
  }

  .prices__feature-text {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .prices {
    min-height: 524px;  /*!!!!!!!!!!!!!!*/
  }

  .prices__hit {
    background: url("../img/bg-hit.svg") no-repeat 0 0;
    background-size: 74px 73px;
    &::after {
      top: 13px;
      left: 11px;
    }
  }

  .prices__title {
    font-size: 18px;
  }

  .prices__price {
    font-size: 24px;
  }

  .prices__feature {
    font-size: 18px;
  }
}
