.prices {
  box-sizing: border-box;
  padding-top: 90px;
  padding-bottom: 44px;
  background: $bg-secondary url("../img/bg-triangle-white.svg") no-repeat center top/contain;
  text-transform: uppercase;
}

.prices__slider {
  overflow: hidden;
}

.prices__table {
  position: relative;
  width: 262.5%;
  margin-bottom: 38px;
  border-collapse: collapse;
  &--first-slide {
    left: 6.25%;
  }
  &--second-slide {
    left: -81.25%;
  }
  &--third-slide {
    left: -168.75%;
  }
}

.prices__header {
  padding-top: 17px;
  padding-bottom: 21px;
  font-weight: normal;
  line-height: 30px;
  color: $bg-primary;
  background-color: $color-primary;
  border-right: 2px solid #e5e5e5;
  border-left: 2px solid #e5e5e5;
  &--empty {
    display: none;
  }
  &--hit {
    padding: 0;
  }
  &:nth-child(2) {
    border-left: 2px solid $color-primary;
  }
  &:last-child {
    border-right: 2px solid $color-primary;
  }
}

.prices__hit {
  position: relative;
  padding-top: 17px;
  padding-bottom: 21px;
  background: url("../img/bg-hit.svg") no-repeat 0 0/74px auto;
  &::after {
    content: "Хит";
    position: absolute;
    top: 13px;
    left: 9px;
    font-family: $font-bold;
    text-transform: uppercase;
    color: $bg-primary;
    transform: rotate(-45deg);
  }
}

.prices__title {
  font-size: $font-size-bigger;
  font-family: $font-bold;
}

.prices__price {
  font-size: $font-size-biggest;
  font-family: $font-light;
}

.prices__feature {
  padding: 17px 0 17px 22px;
  background: $bg-primary url("../img/icon-no.svg") no-repeat 92% 15px/27px auto;
  background-size: 27px 26px;
  border: 2px solid #e5e5e5;
  &--available {
    background: $bg-primary url("../img/icon-yes.svg") no-repeat 92.6% 19px/31px auto;
    background-size: 31px 21px;
  }
  &--mobile-hidden {
    display: none;
    background-image: none;
  }
}

@media (min-width: $tablet-width) {
  .prices {
    padding-top: 88px;
    padding-bottom: 31px;
  }

  .prices__table {
    position: static;
    width: 100%;
  }

  .prices__header {
    padding-top: 10px;
    padding-bottom: 9px;
    width: 25%;
    &--empty {
      display: table-cell;
      background-color: transparent;
      border: none;
    }
    &--hit {
      padding: 0;
    }
  }

  .prices__hit {
    padding-top: 10px;
    padding-bottom: 9px;
    background: url("../img/bg-hit-tablet.svg") no-repeat 0 0/61px auto;
    &::after {
      top: 5px;
      left: 7px;
    }
  }

  .prices__title {
    font-size: 16px;
  }

  .prices__price {
    font-size: 18px;
  }

  .prices__feature {
    padding: 10px 0 10px 15px;
    text-transform: none;
    background-position: center;
    &--mobile-hidden {
      display: table-cell;
    }
  }

  .prices__feature-text {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .prices {
    padding-top: 145px;
    padding-bottom: 58px;
  }

  .prices__header {
    padding-top: 16px;
    padding-bottom: 20px;
    &--hit {
      padding: 0;
    }
  }

  .prices__hit {
    padding-top: 16px;
    padding-bottom: 20px;
    background: url("../img/bg-hit.svg") no-repeat 0 0/74px auto;
    &::after {
      top: 11px;
      left: 10px;
    }
  }

  .prices__title {
    margin-bottom: 2px;
    font-size: 18px;
  }

  .prices__price {
    font-size: 24px;
  }

  .prices__feature {
    padding: 16px 0 18px 22px;
    font-size: 18px;
  }
}
