.prices {
  box-sizing: border-box;
  min-height: 471px; /*!!!!!!!!!!!!*/
  padding-top: 66px;
  padding-bottom: 47px;
  background-color: $bg-secondary;
  text-transform: uppercase;
}

.prices__slider {
  overflow: hidden;
}

.prices__table {
  position: relative;
  width: 262.5%;
  margin-bottom: 40px;
  border-collapse: collapse;
  &--first-slide {
    left: 6.25%;
  }
  &--second-slide {
    left: -81.25%;
  }
  &--third-slide {
    left: -168.75%;
  }
}

.prices__header {
  padding: 19px 0;
  font-weight: normal;
  line-height: 30px;
  color: $bg-primary;
  background-color: $color-primary;
  border-right: 2px solid #e5e5e5;
  border-left: 2px solid #e5e5e5;
  &--empty {
    display: none;
  }
  &:nth-child(2) {
    border-left: 2px solid $color-primary;
  }
  &:last-child {
    border-right: 2px solid $color-primary;
  }
}

.prices__title {
  font-size: $font-size-bigger;
  font-family: $font-bold;
}

.prices__price {
  font-size: $font-size-biggest;
  font-family: $font-light;
}

.prices__feature {
  padding: 15px 0 14px 22px;
  background-color: $bg-primary;
  border: 2px solid #e5e5e5;
  &--mobile-hidden {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .prices {
    min-height: 378px; /*!!!!!!!!!!!!*/
  }

  .prices__table {
    position: static;
    width: 100%;
  }

  .prices__header {
    width: 25%;
    &--empty {
      display: table-cell;
      background-color: transparent;
      border: none;
    }
  }

  .prices__title {
    font-size: 16px;
  }

  .prices__price {
    font-size: 18px;
  }

  .prices__feature {
    text-transform: none;
    &--mobile-hidden {
      display: table-cell;
    }
  }

  .prices__feature-text {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .prices {
    min-height: 524px;  /*!!!!!!!!!!!!!!*/
  }

  .prices__title {
    font-size: 18px;
  }

  .prices__price {
    font-size: 24px;
  }

  .prices__feature {
    font-size: 18px;
  }
}
