.prices {
  box-sizing: border-box;
  min-height: 446px; /*!!!!!!!!!!!!*/
  padding-top: 66px;
  padding-bottom: 47px;
  background-color: $bg-secondary;
  text-transform: uppercase;
}

.prices__features-block {
  display: none;
}

.prices__slides {
  margin-bottom: 40px;
}

.prices__slide {
  border-right: 2px solid #e5e5e5;
  border-left: 2px solid #e5e5e5;
}

.prices__header {
  padding: 19px 0;
  line-height: 30px;
  text-align: center;
  color: $bg-primary;
  background-color: $color-primary;
}

.prices__title {
  font-size: $font-size-bigger;
  font-family: $font-bold;
}

.prices__price {
  font-size: $font-size-biggest;
  font-family: $font-light;
}

.prices__feature {
  padding: 15px 0 14px 22px;
  background-color: $bg-primary;
  border-bottom: 2px solid #e5e5e5;
}

@media (min-width: $tablet-width) {
  .prices {
    min-height: 378px; /*!!!!!!!!!!!!*/
  }

  .prices__slider {
    display: flex;
    align-items: flex-end;
  }

  .prices__features-block {
    display: block;
    width: 25%;
  }

  .prices__slides {
    display: flex;
    box-sizing: border-box;
    width: 75%;
    margin-bottom: 0;
  }

  .prices__slide {
    display: block;
    box-sizing: border-box;
    width: 33.3333%;
  }

  .prices__title {
    font-size: 16px;
  }

  .prices__price {
    font-size: 18px;
  }

  .prices__feature-text {
    display: none;
  }

  .prices__slider-controls {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .prices {
    min-height: 524px;  /*!!!!!!!!!!!!!!*/
  }

  .prices__title {
    font-size: 18px;
  }

  .prices__price {
    font-size: 24px;
  }

  .prices__feature {
    font-size: 18px;
  }
}
