.range-slider__input {
  -webkit-appearance: none;
  width: 100%;
  height: 18.2px;
  padding: 0;
  background: transparent;
}

.range-slider__input::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.range-slider__input:focus {
  outline: none;
}

.range-slider__input::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.range-slider__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  margin-top: -6px;
  border: 2px solid #d22856;
  border-radius: 50%;
  background: #f2f2f2;
  cursor: pointer;
}

.range-slider__input::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border: 2px solid #d22856;
  border-radius: 50%;
  background: #f2f2f2;
  cursor: pointer;
}

.range-slider__input::-ms-thumb {
  width: 10px;
  height: 10px;
  border: 2px solid #d22856;
  border-radius: 50%;
  background: #f2f2f2;
  cursor: pointer;
}

.range-slider__input::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #283645;
}

.range-slider__input::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #283645;
}

.range-slider__input::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.range-slider__input::-ms-fill-lower {
  background: #283645;
}
.range-slider__input:focus::-ms-fill-lower {
  background: #283645;
}
.range-slider__input::-ms-fill-upper {
  background: #283645;
}
.range-slider__input:focus::-ms-fill-upper {
  background: #283645;
}
