.reviews {
  padding-top: 46px;
  padding-bottom: 66px;
  text-align: center;
}

.reviews__title {
  margin-top: 0;
  margin-bottom: 28px;
  font-weight: normal;
  font-size: $font-size-bigger;
  line-height: 30px;
  font-family: $font-bold;
}

.reviews__text {
  margin-top: 0;
  margin-bottom: 36px;
  line-height: 30px;
}
