.reviews {
  padding-top: 41px;
  padding-bottom: 39px;
  text-align: center;
}

.reviews__slide {
  margin-bottom: 30px;
  &--hidden {
    display: none;
  }
}

.reviews__author {
  margin-bottom: 14px;
}

.reviews__title {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  font-family: $font-bold;
  color: $color-caption;
}

.reviews__subtitle {
  display: none;
}

.reviews__text {
  margin: 0;
  line-height: 30px;
}

.reviews__slider-arrow {
  display: none;
}

@media (min-width: $tablet-width) {
  .reviews {
    padding-top: 32px;
    padding-bottom: 18px;
  }

  .reviews__slide {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    &--hidden {
      display: none;
    }
  }

  .reviews__author {
    margin-bottom: 0;
  }

  .reviews__title {
    font-size: 20px;
    margin-bottom: 4px;
  }

  .reviews__subtitle {
    display: block;
    line-height: 30px;
  }

  .reviews__text {
    margin-bottom: 34px;
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding-top: 25px;
    padding-bottom: 44px;
  }

  .reviews__slider {
    position: relative;
  }

  .reviews__slide {
    margin-bottom: 0;
    padding-top: 160px;
    background: url("../img/icon-quotes.svg") no-repeat center 47px/79px auto;
  }

  .reviews__title {
    margin-bottom: 2px;
    font-size: 24px;
  }

  .reviews__subtitle {
    font-size: 18px;
  }

  .reviews__text {
    width: 760px;
    margin-bottom: 36px;
  }

  .reviews__quotes {
    display: none;
  }

  .reviews__slider-arrow {
    display: block;
    position: absolute;
    top: 188px;
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: transparent;
    border: 5px solid transparent;
    cursor: pointer;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: #bec2c7;
    }
    &::before {
      bottom: 0;
      width: 3px;
    }
    &::after {
      right: 0;
      height: 3px;
    }
    &--right {
      right: 0;
      transform: rotate(135deg);
    }
    &--left {
      left: 0;
      transform: rotate(-45deg);
    }
    &:hover {
      &::before,
      &::after {
        background-color: #7e868f;
      }
    }
    &:active {
      &::before,
      &::after {
        background-color: #e9ebec;
      }
    }
  }
}
