.slider-controls {
  display: flex;
  justify-content: center;
}

.slider-controls__item {
  width: 6px;
  height: 6px;
  background-color: transparent;
  border: 6px solid transparent;
  border-radius: 50%;
  box-shadow: inset 0 0 0 3px #bec2c7;
  cursor: pointer;
  &--darker {
    box-shadow: inset 0 0 0 3px #b5b9be;
  }
  &--active {
    width: 12px;
    height: 12px;
    border: 3px solid transparent;
    box-shadow:
      inset 0 0 0 3px $color-primary,
      inset 0 0 0 6px $bg-primary;
    cursor: initial;
  }
  &:not(:last-child) {
    margin-right: 7px;
  }
}

@media (min-width: $tablet-width) {
  .slider-controls {
    &--mobile-only {
      display: none;
    }
  }
}
