.social-btn {
  display: block;
  width: 45px;
  height: 45px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  &--twitter {
    background: url("../img/icon-twitter.svg") no-repeat center/18px 14px;
  }
  &--facebook {
    background: url("../img/icon-facebook.svg") no-repeat center/9px 18px;
  }
  &--youtube {
    background: url("../img/icon-youtube.svg") no-repeat center/15px 13px;
  }
  &:hover {
    border-color: $color-primary;
  }
  &:active {
    opacity: 0.1;
  }
}
