.upload {
  padding-top: 22px;
}

.upload__form {
  padding-top: 20px;
  background-color: $bg-secondary;
}

.upload__desc {
  line-height: 30px;
  text-align: center;
}

.upload__buttons {
  padding-top: 38px;
  padding-bottom: 29px;
  border-top: 1px solid #dddfe0;
}

.upload__btn {
  margin-bottom: 12px;
}
