.upload {
  padding-top: 24px;
}

.upload__form {
  box-sizing: border-box;
  min-height: 757px; /*!!!!!!!!!!!!*/
  padding-top: 20px;
  background-color: $bg-secondary;
}

.upload__desc {
  margin-top: 0;
  margin-bottom: 46px;
  line-height: 30px;
  text-align: center;
}

.upload__filters {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.upload__filter-btn {
  display: none;
}

.upload__label {
  display: block;
  &--crop {
    width: 44px;
    height: 44px;
    background: url("../img/icon-editor-crop.svg") no-repeat center;
    background-size: 44px 44px;
    &:hover {
      background-image: url("../img/icon-editor-crop-hvr.svg");
    }
  }
  &--fill {
    width: 48px;
    height: 43px;
    background: url("../img/icon-editor-fill.svg") no-repeat center;
    background-size: 48px 43px;
    &:hover {
      background-image: url("../img/icon-editor-fill-hvr.svg");
    }
  }
  &--contrast {
    width: 32px;
    height: 32px;
    background: url("../img/icon-editor-contrast.svg") no-repeat center;
    background-size: 32px 32px;
    &:hover {
      background-image: url("../img/icon-editor-contrast-hvr.svg");
    }
  }
}

.upload__filter-btn:checked + .upload__label {
  &--crop {
    background-image: url("../img/icon-editor-crop-active.svg");
  }
}

.upload__filter-btn:checked + .upload__label {
  &--fill {
    background-image: url("../img/icon-editor-fill-active.svg");
  }
}

.upload__filter-btn:checked + .upload__label {
  &--contrast {
    background-image: url("../img/icon-editor-contrast-active.svg");
  }
}

.upload__buttons {
  padding-top: 38px;
  padding-bottom: 29px;
  border-top: 1px solid #dddfe0;
}

.upload__btn {
  margin-bottom: 12px;
}

@media (min-width: $tablet-width) {
  .upload {
    padding-top: 48px;
  }

  .upload__desc {
    margin-bottom: 68px;
    font-size: 18px;
  }

  .upload__form {
    min-height: 511px; /*!!!!!!!!!!!!!!!!!!!*/
  }

  .upload__wrap {
    display: flex;
    justify-content: space-around;
  }

  .upload__btn {
    margin: 0 auto;
    margin-bottom: 24px;
  }
}

@media (min-width: $desktop-width) {
  .upload__form {
    min-height: 514px;
  }

  .upload__buttons {
    display: flex;
  }
}
